---
---
<footer class="py-6 text-center text-purple-700 bg-pink-100">
    <p>Hecho con ❤️ para el amor de mi vida y la mujer de mi vida</p>
    <p class="text-sm mt-2">© {new Date().getFullYear()}</p>
  </footer>